 <style>
        body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    border: 1px solid #0f060b;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(165, 117, 117, 0.2);
    background-color: rgb(93, 230, 219);
}

.display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 24px;
    text-align: right;
    background-color: #d5d5d5;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #bdd3d8;
}

    </style>
